.dynamic-form-group-title {
  height: 40px;
  background-color: #232f3e;
  color: white;
  text-align: left;
  line-height: 30px;
  padding: 5px;
}

.mat-form-field-infix {
  width: 430px !important;
}

.form-group {
  margin-bottom: 1px !important;
}
