<div class="d-flex justify-content-center">
  <div class="page-header ">
    <div class="card-container">
      <div class="card">
        <div class="card-header"><strong>{{title}}</strong></div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div *ngFor="let group of groups">
              <div class="">
                <div class="dynamic-form-group-title" color="primary">
                  <strong class="px-2">{{group.groupName}}</strong>
                </div>
                <br><br>
                <div *ngFor="let field of group.fields">
                  <fields-composer [field]="field" [form]="group.formGroup"></fields-composer>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <a routerLink="/application/design/model" mat-button color="warn">Cancel</a>
              </div>
              <div class="col-md-9">
                <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary" class="float-right">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
