<section class="hero">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Order confirmed</li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h3 class="hero-heading">Order confirmed</h3>
    </div>
  </div>
</section>

<section class="pb-5">
  <div class="container text-center">
    <div class="icon-rounded bg-primary mb-3 mx-auto text-white">
      <svg class="svg-icon w-2rem h-2rem align-middle">
        <use xlink:href="#checkmark-1"> </use>
      </svg>
    </div>
    <h4 class="mb-3 ff-base">Thank you, Akshay. Your order is confirmed.</h4>
    <p class="text-muted mb-5">Your order hasn't shipped yet but we will send you ane email when it does.</p>
    <p> <a href="order/details" class="btn btn-outline-dark">View or manage your order</a></p>
  </div>
</section>
