.dynamic-form-group-title {
  height: 40px;
  text-align: left;
  line-height: 30px;
  padding: 5px;
}



mat-card-title {
  line-height: 2;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}
