<div class="d-flex container-fluid">
  <div class="page-header ">
    <div class="card-container">
      <div class="card">
        <div class="card-header"><strong>{{title}}</strong></div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="form" class="container-fluid">
            <div *ngFor="let group of groups">
              <div class="form-group">
                <div class="dynamic-form-group-title">
                  <strong class="px-2">{{group.groupName}}</strong>
                </div>
                <br><br>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let field of group.fields">
                    <fields-view-composer [field]="field" [form]="group.formGroup"></fields-view-composer>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row"></div>
            <div class="form-group row">
              <div class="ml-3">
                <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary" class="">Update</button>
              </div>

              <div>
                <span class="mat-button">or</span>
              </div>

              <div class="">
                <a routerLink="/application/design/model" mat-button color="warn">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
