<div id="content">
  <div class="page-header">
    <div class="card mx-5">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <div class="d-flex justify-content-center">
          <form (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input [(ngModel)]="attributeGroup.name" name="name" matInput placeholder="" required>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Public name</mat-label>
                <input [(ngModel)]="attributeGroup.publicName" name="publicName" matInput placeholder="" required>
                <mat-hint>This name will be displayed to user</mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea
                  [(ngModel)]="attributeGroup.description" name="description"
                  matInput placeholder=""
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
                <mat-hint>Add description for this entity.</mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Sort Order</mat-label>
                <input [(ngModel)]="attributeGroup.order" name="order" matInput placeholder="">
                <mat-hint>Enter a number</mat-hint>
              </mat-form-field>
            </div>

            <a routerLink="/application/design/model" class="btn btn-secondary">
              Cancel</a>
            <button type="submit" class="btn btn-primary float-right" [disabled]="!form.form.valid">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
