<div class="form-group" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{field.label}}</mat-label>
    <input matInput
           [type]="hide ? 'password' : 'text'"
           [id]="field.id"
           [name]="field.name"
           [formControlName]="field.name"
           [required]="field.required">
    <button mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-hint>{{field.hint}}</mat-hint>
    <mat-error *ngIf="!isValid && isDirty">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
