<div class="recommended-products-container d-block mb-5">
  <div class="rhf-border">
    <div class="rhf-shoveler">
      <div class="a-row a-carousel-header-row a-size-base-plus">
        <div class="a-column a-span8">
          <h2 class="rhf-header">Recommendations based on  your browsing history</h2>
        </div>
      </div>

      <div id="rhf" class="carousel slide mt-3" data-ride="carousel" data-interval="false">
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="container-fluid  carousel-item active">
            <ol class="row a-carousel" role="list" aria-busy="false">

              <li class="rhf-carousel-card float-left col-2 a-carousel-card a-float-left" role="listitem" aria-setsize="20" aria-posinset="11" aria-hidden="false" style="margin-left: 15px;">
                <div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_gw_s_cp_0_11&quot;,&quot;asin&quot;:&quot;B077Q44DKY&quot;}" class="a-section a-spacing-none p13n-asin">
                  <a class="a-link-normal" href="/product/details">
                    <div class="a-section a-spacing-mini">
                      <img alt="Redmi Y2 (Gold, 4GB RAM, 64GB Storage)" src="https://images-na.ssl-images-amazon.com/images/I/71C5QuX8qeL._SL500_SR71,135_.jpg" height="135" width="71">
                    </div>
                    <div class="p13n-sc-truncated" aria-hidden="true" data-rows="5">Redmi Y2 (Gold, 4GB RAM, 64GB Storage)</div>
                  </a>
                  <div class="a-icon-row a-spacing-none">
                    <a class="a-link-normal" title="4.3 out of 5 stars" href="/product/details">
                      <i class="a-icon a-icon-star a-star-4-5"><span class="a-icon-alt">4.3 out of 5 stars</span></i>
                    </a>
                    <a class="a-size-small a-link-normal" href="/product/details">10,620</a>
                  </div>
                </div>
              </li>

              <li class="col-2 rhf-carousel-card a-float-left" role="listitem" aria-setsize="20" aria-posinset="11" aria-hidden="false" style="margin-left: 15px;">
                <div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_gw_s_cp_0_11&quot;,&quot;asin&quot;:&quot;B077Q44DKY&quot;}" class="a-section a-spacing-none p13n-asin">
                  <a class="a-link-normal" href="/product/details">
                    <div class="a-section a-spacing-mini">
                      <img alt="Nokia 105 (Black)" src="https://images-na.ssl-images-amazon.com/images/I/51wrcikRDcL._SL500_SR135,135_.jpg" height="135" width="71">
                    </div>
                    <div class="p13n-sc-truncated" aria-hidden="true" data-rows="5">Nokia 105 (Black)</div>
                  </a>
                  <div class="a-icon-row a-spacing-none">
                    <a class="a-link-normal" title="4.3 out of 5 stars" href="/product/details">
                      <i class="a-icon a-icon-star a-star-4-5"><span class="a-icon-alt">3.9 out of 5 stars</span></i>
                    </a>
                    <a class="a-size-small a-link-normal" href="/product/details">2,438</a>
                  </div>
                </div>
              </li>

              <li class="col-2 rhf-carousel-card a-float-left" role="listitem" aria-setsize="20" aria-posinset="11" aria-hidden="false" style="margin-left: 15px;">
                <div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_gw_s_cp_0_11&quot;,&quot;asin&quot;:&quot;B077Q44DKY&quot;}" class="a-section a-spacing-none p13n-asin">
                  <a class="a-link-normal" href="/product/details">
                    <div class="a-section a-spacing-mini">
                      <img alt="WOW Imagine Double Dip Anti Slip Super Slim 360 Degree Hard Hybrid PC All Angle Protection Matte Back Cover for Xiaomi Redmi Y2(Pitch Black)"
                           src="https://images-na.ssl-images-amazon.com/images/I/71VqRdDsR0L._SL500_SR135,135_.jpg" height="135" width="71">
                    </div>
                    <div class="p13n-sc-truncated" aria-hidden="true" data-rows="5">WOW Imagine Double Dip Anti Slip Super Slim 360 Degree Hard Hybrid PC All Angle Protection Matte…</div>
                  </a>
                  <div class="a-icon-row a-spacing-none">
                    <a class="a-link-normal" title="4.3 out of 5 stars" href="/product/details">
                      <i class="a-icon a-icon-star a-star-4-5"><span class="a-icon-alt">3.1 out of 5 stars</span></i>
                    </a>
                    <a class="a-size-small a-link-normal" href="/product/details">1,833</a>
                  </div>
                </div>
              </li>

            </ol>

          </div>

          <div class="container-fluid carousel-item">
            <ol class="row a-carousel" role="list" aria-busy="false">

              <li class="col-2 rhf-carousel-card a-float-left" role="listitem" aria-setsize="20" aria-posinset="11" aria-hidden="false" style="margin-left: 15px;">
                <div data-p13n-asin-metadata="{&quot;ref&quot;:&quot;pd_rhf_gw_s_cp_0_11&quot;,&quot;asin&quot;:&quot;B077Q44DKY&quot;}" class="a-section a-spacing-none p13n-asin">
                  <a class="a-link-normal" href="/product/details">
                    <div class="a-section a-spacing-mini">
                      <img alt="Redmi Y2 (Gold, 4GB RAM, 64GB Storage)" src="https://images-na.ssl-images-amazon.com/images/I/51wrcikRDcL._SL500_SR135,135_.jpg" height="135" width="71">
                    </div>
                    <div class="p13n-sc-truncated" aria-hidden="true" data-rows="5">Nokia 105 (Black)</div>
                  </a>
                  <div class="a-icon-row a-spacing-none">
                    <a class="a-link-normal" title="4.3 out of 5 stars" href="/product/details">
                      <i class="a-icon a-icon-star a-star-4-5"><span class="a-icon-alt">3.9 out of 5 stars</span></i>
                    </a>
                    <a class="a-size-small a-link-normal" href="/product/details">2,438</a>
                  </div>
                </div>
              </li>

            </ol>
          </div>


        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#rhf" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#rhf" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>

    <div class="rhf-divider"></div>
    <recently-viewed-products></recently-viewed-products>
  </div>
</div>
