<section class="hero">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">
        Category
      </li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h3 class="hero-heading">Popular Products</h3>
      <div class="row">
        <div class="col-xl-8 offset-xl-2">
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section class="position-relative dark-overlay py-3 py-lg-7">
  <img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-1/img/photo/erii-gutierrez-487083-unsplash.jpg" alt="" class="bg-image">
  <div class="container overlay-content hero hero-page">
    <ul class="breadcrumb justify-content-center no-border mb-0">
      <li class="breadcrumb-item"><a href="index.html" class="text-white">Home</a></li>
      <li class="breadcrumb-item text-white active">Ladies</li>
    </ul>
    <div class="hero-content pb-5 text-center text-white">
      <h1 class="hero-heading">Ladies</h1><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </div>
</section>-->

<!--<ngb-carousel>
  <ng-template class="products-carousel" *ngFor="let carousel of carousels" ngbSlide>
    <img [src]="carousel.img" alt="Random first slide" class="w-100" height="600">
    <div class="carousel-caption">
      <h3>{{carousel.title}}</h3>
      <p *ngIf="carousel.description">{{carousel.description}}</p>
    </div>
  </ng-template>
</ngb-carousel>-->
