
.table-container {
  max-height: 550px;
  overflow: auto;
}


.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

table th {
  min-width: 100px;
}

table th:first-child {
  min-width: 60px;
}

label {
  margin-bottom: 0.1rem !important;
}
