<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <mat-tab-group (selectedTabChange)="onTabChange($event)" animationDuration="0ms"  >
        <mat-tab label="Attribute Groups">
          <ng-template matTabContent>
            <attribute-groups-list></attribute-groups-list>
          </ng-template>
        </mat-tab>
        <mat-tab label="Attributes">
          <ng-template matTabContent>
            <attribute-list></attribute-list>
            <router-outlet name="attributes"></router-outlet>
          </ng-template>
        </mat-tab>
        <mat-tab label="Object Types">
          <ng-template matTabContent>
            <object-type-list></object-type-list>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
