/* You can add global styles to this file, and also import other style files */

@import "./bootstrap-custom.scss";
@import "~angular-notifier/styles";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.hidden {
  display: none;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.cdk-mouse-focused , .cdk-focused {
	outline: none !important;
}

.mat-form-field-infix {
  min-width: 268px !important;
}

