/**************products slider styles***********/

.fkclp ._3JslKL, .fkhp ._3JslKL {
  margin-bottom: 16px;
}

._3JslKL {
  border-top: 1px solid #eaeaea;
}

._1GRhLX {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

._3JslKL ._1dPkhG {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

._3JslKL ._1dPkhG .puxlXr {
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  font-weight: 500;
}

._3JslKL ._1dPkhG ._2Umlwf {
  float: right;
}

._2AkmmA._1eFTEo {
  background: #2874f0;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border: none;
}
._2AkmmA {
  display: inline-block;
  border-radius: 2px;
  color: #212121;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  transition: box-shadow .2s ease;
  vertical-align: super;
  background: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  border: 1px solid #e0e0e0;
}
a, img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}

._3JslKL ._1dPkhG .Hkx0N0 {
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 400;
}

._3BEcOp {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

._3BEcOp .EstLIe {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  overflow: hidden;
}

._3BEcOp .EstLIe ._2NTrR2 {
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
  /*transform: translateX(0px);*/
}
/******************************************/

/***********slider card styles************/

._3BEcOp .EstLIe ._2kSfQ4 {
  display: inline-block;
  vertical-align: top;
}

._1oegQN {
  padding: 25px 15px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-height: 366px;
  text-align: center;
}

._3BTv9X {
  position: relative;
  margin: 0 auto;

  ._1Nyybr {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 0;
    max-width: 100%;
    max-height: 100%
  }

  ._30XEf0 {
    opacity:1
  };
}

._3BTv9X ._30XEf0 {
  opacity: 1;
}

._3BTv9X ._1Nyybr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

._1oegQN:hover ._3RgrYT {
  -webkit-transform: scale(1.03);
  transform: scale(1.03)
}

._1oegQN ._1Jd8bY {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._1oegQN ._2EOB0J {
  font-size: 13px;
}

._1oegQN ._2EOB0J ._1e0d9Z {
  padding-top: 7px;
}

._1oegQN ._2EOB0J .GDqdMk {
  display: inline-block;
  text-decoration: line-through;
  color: #535353;
  opacity: .5;
}

._1oegQN ._2EOB0J ._33mtgx {
  display: inline-block;
  color: #388e3c;
  margin-left: 11px;
}

._1oegQN ._2EOB0J ._3RTCM2 {
  font-size: 18px;
  font-weight: 500;
  padding-top: 4px;
}

._3BEcOp ._2AEDbQ._3H3Phk {
}

._3BEcOp ._1WxWr5 {
  left: 0;
  border-radius: 0 4px 4px 0;
}

._3BEcOp ._2AEDbQ {
  position: absolute;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 16px;
  font-size: 41px;
  box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
  background-color: hsla(0,0%,100%,.98);
  cursor: pointer;
  width: 50px;
  height: auto;
}

._3BEcOp ._1V02gy {
  right: 0;
  border-radius: 4px 0 0 4px;
}

._3BEcOp ._32EAsf {
  fill: #212121;
}

