<!--<header *ngIf="authenticated || routeAuthenticated" class="header">-->


<header id="header" class="navbar fixed-top">
  <div class="container-fluid">
    <div id="header-logo" class="navbar-header">
      <a [routerLink]="['/']" class="navbar-logo navbar-brand">
       <span>
       <fa-icon class="logo-authenticated-laptop " size="2x" [icon]="faLaptop"></fa-icon>
      </span>
      </a>
    </div>
    <a href="#" id="button-menu" class="hidden-md hidden-lg"><span class="fa fa-bars"></span></a>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="https://demo.opencart.com/image/cache/profile-45x45.png" alt="demo demo" title="demo"
             id="user-profile" class="img-circle">
          User
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="https://demo.opencart.com/admin/index.php?route=common/profile&amp;user_token=IbV5TXag1vAx7ls0IPpTrt8bhFmT1VuC">
              <i class="fa fa-user-circle-o fa-fw"></i> Your Profile
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Stores</li>
          <li><a href="https://demo.opencart.com/" target="_blank">Your Store</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Help</li>
          <li>
            <a href="http://www.opencart.com" target="_blank">
              <i class="fa fa-opencart fa-fw"></i> OpenCart Homepage
            </a>
          </li>
          <li>
            <a href="http://docs.opencart.com" target="_blank">
              <i class="fa fa-file-text-o fa-fw"></i> Documentation
            </a>
          </li>
          <li>
            <a href="http://forum.opencart.com" target="_blank">
              <i class="fa fa-comments-o fa-fw"></i> Support Forum
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://demo.opencart.com/admin/index.php?route=common/logout&amp;user_token=IbV5TXag1vAx7ls0IPpTrt8bhFmT1VuC">
        <i class="fa fa-sign-out"></i> <span class="hidden-xs hidden-sm hidden-md">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</header>
