<nav id="column-left">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" class="header">
      <div fxFlex="">
        <a mat-icon-button [routerLink]="['/']" class="navbar-logo navbar-brand">
          <mat-icon [inline]="true">toys</mat-icon> <span class="logo-name">Framework Core</span>
        </a>

      </div>

      <button fxFlexAlign="end" class="close-drawer" mat-icon-button (click)="close.emit()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>


  <ul id="menu">

    <ng-container *ngFor="let tab of tabs">
      <nav-item [item]="tab"></nav-item>
    </ng-container>

    <!--<li id="menu-dashboard">
      <a href=""><i class="fa fa-dashboard fw"></i> Dashboard</a>
    </li>
    <li id="menu-catalog">
      <a href="#collapse1" data-toggle="collapse" class="parent collapsed"><i class="fa fa-tags fw"></i> Catalog</a>
      <ul id="collapse1" class="collapse">
        <li><a routerLink="/catalog/category">Categories</a> </li>
        <li><a routerLink="/">Products</a> </li>
        <li><a routerLink="/catalog/attribute/specifications">Product Specifications</a> </li>
        <li><a routerLink="/">Recurring Profiles</a> </li>
        <li><a routerLink="/">Filters</a> </li>
        <li><a routerLink="/">Options</a> </li>
        <li><a routerLink="/">Manufacturers</a> </li>
        <li><a routerLink="/">Downloads</a> </li>
        <li><a routerLink="/">Reviews</a> </li>
        <li><a routerLink="/">Information</a> </li>
      </ul>
    </li>
    <li id="menu-extension">
      <a href="#collapse14" data-toggle="collapse" class="parent collapsed"><i class="fa fa-puzzle-piece fw"></i> Extensions</a>
      <ul id="collapse14" class="collapse">
        <li><a routerLink="/">Marketplace</a> </li>
        <li><a routerLink="/">Installer</a> </li>
        <li><a routerLink="/">Extensions</a> </li>
        <li><a routerLink="/">Modifications</a> </li>
        <li><a routerLink="/">Events</a> </li>
      </ul>
    </li>
    <li id="menu-design">
      <a href="#collapse20" data-toggle="collapse" class="parent collapsed"><i class="fa fa-television fw"></i> Design</a>
      <ul id="collapse20" class="collapse">
        <li><a routerLink="/application/navigation/5eaf285ec4b81f12a9e733b1">Layouts</a> </li>
        <li><a routerLink="/application/navigation/5eaf2900c4b81f12a9e733b2">Model</a> </li>
        <li><a routerLink="/">Theme Editor</a> </li>
        <li><a routerLink="/">Language Editor</a> </li>
        <li><a routerLink="/">Banners</a> </li>
        <li><a routerLink="/">SEO URL</a> </li>
      </ul>
    </li>
    <li id="menu-sale">
      <a href="#collapse26" data-toggle="collapse" class="parent collapsed"><i class="fa fa-shopping-cart fw"></i> Sales</a>
      <ul id="collapse26" class="collapse">
        <li><a routerLink="/">Orders</a> </li>
        <li><a routerLink="/">Recurring Profiles</a> </li>
        <li><a routerLink="/">Returns</a> </li>
        <li><a routerLink="/">Gift Vouchers</a>
          <ul id="collapse29" class="collapse">
            <li><a routerLink="/">Gift Vouchers</a> </li>
            <li><a routerLink="/">Voucher Themes</a> </li>
          </ul>
        </li>
      </ul>
    </li>
    <li id="menu-customer">
      <a href="#collapse33" data-toggle="collapse" class="parent collapsed"><i class="fa fa-user fw"></i> Customers</a>
      <ul id="collapse33" class="collapse">
        <li><a routerLink="/">Customers</a> </li>
        <li><a routerLink="/">Customer Groups</a> </li>
        <li><a routerLink="/">Customer Approvals</a> </li>
        <li><a routerLink="/">Custom Fields</a> </li>
      </ul>
    </li>
    <li id="menu-marketing">
      <a href="#collapse38" data-toggle="collapse" class="parent collapsed"><i class="fa fa-share-alt fw"></i> Marketing</a>
      <ul id="collapse38" class="collapse">
        <li><a routerLink="/">Marketing</a> </li>
        <li><a routerLink="/">Coupons</a> </li>
        <li><a routerLink="/">Mail</a> </li>
      </ul>
    </li>

    <li id="menu-report">
      <a href="#collapse61" data-toggle="collapse" class="parent collapsed"><i class="fa fa-bar-chart-o fw"></i> Reports</a>
      <ul id="collapse61" class="collapse">
        <li><a href="#collapse44"  routerLink="/">Reports</a>
          <ul id="collapse44" class="collapse">
            <li><a routerLink="/">Customers</a> </li>
            <li><a routerLink="/">Customer Groups</a> </li>
            <li><a routerLink="/">Customer Approvals</a> </li>
            <li><a routerLink="/">Custom Fields</a> </li>
          </ul>
        </li>

        <li><a routerLink="/">Who's Online</a> </li>
        <li><a routerLink="/">Statistics</a> </li>
      </ul>
    </li>-->

  </ul>




  <div id="stats">
    <ul>
      <li>
        <div>Orders Completed <span class="pull-right">0%</span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span></div>
        </div>
      </li>
      <li>
        <div>Orders Processing <span class="pull-right">0%</span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span></div>
        </div>
      </li>
      <li>
        <div>Other Statuses <span class="pull-right">0%</span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span></div>
        </div>
      </li>
    </ul>
  </div>

</nav>
