<div [formGroup]="form">
  <!--<label class="col-md-3 form-control-label" [attr.for]="field.label">
    {{field.label}}
    <strong class="text-danger" *ngIf="field.required">*</strong>
  </label>-->
  <div class="" [ngSwitch]="field.type">
    <textbox-view-field *ngSwitchCase="'0'" [field]="field" [form]="form"></textbox-view-field>
    <number-view-field *ngSwitchCase="'1'" [field]="field" [form]="form"></number-view-field>
    <reference-view-field *ngSwitchCase="'2'" [field]="field" [form]="form"></reference-view-field>
    <list-view-field *ngSwitchCase="'3'" [field]="field" [form]="form"></list-view-field>
    <textarea-view-field *ngSwitchCase="'4'" [field]="field" [form]="form"></textarea-view-field>
    <date-view-field *ngSwitchCase="'5'" [field]="field" [form]="form"></date-view-field>
    <currency-view-field *ngSwitchCase="'6'" [field]="field" [form]="form"></currency-view-field>
    <ip-address-view-field *ngSwitchCase="'7'" [field]="field" [form]="form"></ip-address-view-field>
    <!--<attachment-view-field *ngSwitchCase="'8'" [field]="field" [form]="form"></attachment-view-field>-->
    <email-view-field *ngSwitchCase="'9'" [field]="field" [form]="form"></email-view-field>
    <password-view-field *ngSwitchCase="'10'" [field]="field" [form]="form"></password-view-field>

    <checkbox-view-field *ngSwitchCase="'checkbox'" [field]="field" [form]="form"></checkbox-view-field>
    <radio-view-field *ngSwitchCase="'radio'" [field]="field" [form]="form"></radio-view-field>
  </div>
</div>
