<div class="rhf-footer">
  <div class="rvi-container">
    <div class="rhf-sign-in-button-box">
      <div class="rhf-sign-in-button">
        <div class="rhf-sign-in-title">See personalized recommendations</div>
        <a class="action-button btn btn-primary btn-sm rounded" href="/login">
          <span class="action-inner" width="50px">Sign in</span>
        </a>
        <div class="rhf-sign-in-tooltip-new-customer">
          New customer?
          <a class="sign-in-tooltip-link" href="/register">Start here.</a>
        </div>
      </div>
    </div>

    <div class="ybh-edit">
      <div class="ybh-edit-arrow"> › </div>
      <div class="ybh-edit-link"><a href="/gp/yourstore/pym/ref=pd_pyml_rhf">View or edit your browsing history</a></div>
    </div>

    <span class="you-viewed">Recently viewed</span>

    <span id="rhfAsinRow-B077Q7F7Z3" class="rhf-RVIs" title="Redmi Y2 (Black, 3GB RAM, 32GB Storage)">
      <a href="/Redmi-Black-3GB-32GB-Storage/dp/B077Q7F7Z3/ref=pd_rhf_gw_p_img_1?_encoding=UTF8&amp;psc=1&amp;refRID=RXKTT27RW5ZCRTXBXGAE">
          <img src="https://images-na.ssl-images-amazon.com/images/I/719shd%2BaqrL._SL500_SR50,50_.jpg"
               alt="Redmi Y2 (Black, 3GB RAM, 32GB Storage)" height="50px" width="50px">
      </a>
    </span>
    <span id="rhfAsinRow-B07D83F7NK" class="rhf-RVIs" title="(Certified REFURBISHED) OnePlus 6 (Mirror Black 8 GB RAM +128GB)">
      <a href="/Certified-REFURBISHED-OnePlus-Mirror-Black/dp/B07D83F7NK/ref=pd_rhf_gw_p_img_2?_encoding=UTF8&amp;psc=1&amp;refRID=DEWJV80M70AY7SN3TG3S">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51dMZTZFfrL._SL500_SR50,50_.jpg" alt="(Certified REFURBISHED) OnePlus 6 (Mirror Black 8 GB RAM +128GB)" height="50px" width="50px">
      </a>
    </span>
    <span id="rhfAsinRow-B07F64D9XL" class="rhf-RVIs" title="HP Pavilion 15-bc408TX 15.6-inch FHD Gaming Laptop (Intel Core i7-8750H/8GB DDR4/1TB HDD/128GB SSD/Win 10/4 GB GDDR5 Dedicated Graphics) Shadow Black">
      <a href="/HP-Pavilion-15-bc408TX-15-6-inch-Dedicated/dp/B07F64D9XL/ref=pd_rhf_gw_p_img_4?_encoding=UTF8&amp;psc=1&amp;refRID=DEWJV80M70AY7SN3TG3S">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71dY2A-4fHL._SL500_SR50,50_.jpg" alt="HP Pavilion 15-bc408TX 15.6-inch FHD Gaming Laptop (Intel Core i7-8750H/8GB DDR4/1TB HDD/128GB SSD/Win 10/4 GB GDDR5 Dedicated Graphics) Shadow Black" height="50px" width="50px">
      </a>
    </span>
  </div>
  <div style="clear: both;"></div>
</div>
